@layer base {
	html,
	body {
		-webkit-font-feature-settings: 'ss04' on;
		font-feature-settings: 'ss04' on;
	}

	button:not([disabled]),
	[role='button']:not([disabled]) {
		cursor: pointer;
	}

	::selection {
		background-color: hsl(var(--primary));
		color: hsl(var(--primary-foreground));
	}

	.text-primary-foreground::selection,
	.text-primary-foreground *::selection {
		background-color: hsl(var(--primary-foreground));
		color: hsl(var(--primary));
	}

	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}

	/* Typography plugin customization (prose colors) */
	.prose,
	.prose h1 {
		color: hsl(var(--foreground));
	}
	.prose {
		--tw-prose-headings: hsl(var(--foreground));
		--tw-prose-quotes: hsl(var(--accent));
		--tw-prose-links: hsl(var(--foreground));
		-webkit-font-feature-settings: 'ss04' on;
		font-feature-settings: 'ss04' on;
	}
}
