# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.firebase

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
*.log

# production
build
dist

# misc
.DS_Store
.env.development.local
.env.test.local
.env.production.local
/shared/.env

# Docker
.user/

# JetBrains
.idea/
.ignore/

recipients_app/android/app/src/main/google-services.json

recipients_app/android/app/google-services.json
