# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

firebase.json raphael@socialincome.org fabrice@socialincome.org marco@socialincome.org michael@socialincome.org
firestore.rules raphael@socialincome.org fabrice@socialincome.org marco@socialincome.org michael@socialincome.org
package.json raphael@socialincome.org fabrice@socialincome.org marco@socialincome.org michael@socialincome.org
storage.rules raphael@socialincome.org fabrice@socialincome.org marco@socialincome.org michael@socialincome.org

admin/ raphael@socialincome.org fabrice@socialincome.org marco@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ raphael@socialincome.org fabrice@socialincome.org marco@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ raphael@socialincome.org fabrice@socialincome.org marco@socialincome.org michael@socialincome.org sandino@socialincome.org dev@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org karin@socialincome.org
codemagic.yaml verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org karin@socialincome.org
website/ raphael@socialincome.org fabrice@socialincome.org marco@socialincome.org michael@socialincome.org sandino@socialincome.org dev@socialincome.org
ui/ raphael@socialincome.org fabrice@socialincome.org marco@socialincome.org michael@socialincome.org sandino@socialincome.org
.github/workflows/ui.yml raphael@socialincome.org fabrice@socialincome.org marco@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org raphael@socialincome.org fabrice@socialincome.org marco@socialincome.org michael@socialincome.org