version: "3.9"
services:
  admin:
    image: socialincome/local-helper
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/home/node
    ports:
      - "3000:3000"
    depends_on:
      - firebase
    command: /bin/bash -c "npm install && npm run admin:serve"

  functions:
    image: socialincome/local-helper
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/home/node
    depends_on:
      - firebase
    command: /bin/bash -c "npm install && npm run functions:serve"

  firebase:
    image: socialincome/local-helper
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/home/node
    ports:
      - "9099:9099" # authentication emulator
      - "8080:8080" # firestore emulator
      - "5000:5000" # hosting
      - "5001:5001" # functions
      - "8085:8085" # pubsub emulator
      - "9199:9199" # storage emulator
      - "4000:4000" # emulator UI
      - "4500:4500"
      - "9150:9150"
    command: npm run firebase:serve

  survey:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/home/node
    ports:
      - "6007:6007"
    command: /bin/bash -c "npm install && npm run survey:serve"

  ui:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/home/node
    ports:
      - "6006:6006"
    command: /bin/bash -c "npm install && npm run ui:serve"

  website:
    image: socialincome/local-helper
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/home/node
    ports:
      - "3001:3001" # website
      - "9099:9099" # authentication emulator
      - "8080:8080" # firestore emulator
      - "4000:4000" # emulator UI
    command:  /bin/bash -c "npm install && npm run website:serve:emulator"