[tools]
node = "24"
java = "23"

[tasks.install]
run = "npm install"

[tasks.db]
run = "npm run db:up"

[tasks.mockserver]
run = "npm run mockserver:up"

[tasks.firebase]
run = "npm run firebase:serve"
depends = ["install"]

[tasks.build-paths]
run = "npm run website:build-paths"

[tasks.website]
run = "npm run website:serve"
depends = ["install", "db", "mockserver", "build-paths"]

[tasks.dev]
depends = ["firebase", "website"]
