service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId}/{data=**} {
      allow read, write: if request.auth.uid == userId;
    }
    match /{data=**} {
      allow read, write: if false;
    }
  }
}