@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Unica77';
	src: url('../../shared/assets/fonts/Unica77LLWeb-Regular.woff2') format('woff2');
	font-weight: normal;
}

@font-face {
	font-family: 'Unica77';
	src: url('../../shared/assets/fonts/Unica77LLWeb-Medium.woff2') format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'Unica77';
	src: url('../../shared/assets/fonts/Unica77LLWeb-Bold.woff2') format('woff2');
	font-weight: 700;
}

@layer base {
	:root,
	.theme-default {
		--background: 222 100% 97%;
		--foreground: 20 14.3% 4.1%;
		--muted: 222 100% 98%;
		--muted-foreground: 0 0% 30%;

		--card: 0 100% 100%;
		--card-muted: 0 0% 98%;
		--card-foreground: 20 14.3% 4.1%;
		--card-foreground-muted: 0 0% 40%;

		--popover: 0 100% 100%;
		--popover-muted: 0 0% 98%;
		--popover-foreground: 0 0% 35%;
		--popover-foreground-muted: 0 0% 45%;

		--primary: 216 54% 55%;
		--primary-muted: 216 54% 63%;
		--primary-foreground: 216 54% 100%;
		--primary-foreground-muted: 216 54% 97%;

		--secondary: 8 89% 62%;
		--secondary-muted: 8 89% 70%;
		--secondary-foreground: 8 89% 100%;
		--secondary-foreground-muted: 8 89% 97%;

		--accent: 48 100% 49%;
		--accent-muted: 48 100% 57%;
		--accent-foreground: 48 100% 0%;
		--accent-foreground-muted: 48 100% 30%;

		--destructive: 0 75% 42%;
		--destructive-muted: 0 73% 65%;
		--destructive-foreground: 60 9.1% 97.8%;
		--destructive-foreground-muted: 0 100% 98%;

		--border: 20 5.9% 80%;
		--input: 20 5.9% 90%;
		--ring: 216 54% 55%;
		--radius: 0.5rem;
	}

	.theme-dark-blue {
		--background: 216 54% 55%;
		--muted: 216 54% 61%;
		--foreground: 60 9.1% 97.8%;

		--card: 222 100% 97%;
		--card-muted: 222 100% 99%;

		--primary: 48 100% 49%;
		--primary-muted: 48 100% 85%;
		--primary-foreground: 48 100% 0%;
		--primary-foreground-muted: 48 100% 30%;

		--border: 60 9.1% 97.8%;
	}

	.theme-v2 {
		--background: 50 33% 96%;
		--foreground: 206 99% 31%;

		--muted: 222 100% 98%;
		--muted-foreground: 212 59% 40%;

		--card:  50 33% 92%;
		--card-foreground: 206 99% 31%;
	}

	.theme-blue-v2 {
		--background: 212 57% 47%;
		--foreground: 50 33% 96%;

		--muted: 212 59% 75%;
		--muted-foreground: 50 33% 99%;

		--card: 212 57% 47%;
		--card-muted: 212 59% 75%;
		--card-foreground: 50 33% 96%;
		--card-foreground-muted: 50 33% 99%;
	}

	.theme-dark-blue-v2 {
		--background: 212 59% 40%;
		--foreground: 50 33% 96%;

		--muted: 212 59% 75%;
		--muted-foreground: 50 33% 99%;

		--card: 212 59% 40%;
		--card-muted: 212 59% 75%;
		--card-foreground: 50 33% 96%;
		--card-foreground-muted: 50 33% 99%;
	}
}

@layer base {
	body,
	.theme-default,
	.theme-dark-blue {
		@apply bg-background text-foreground;
	}

	.theme-v2 {
		@apply bg-background text-foreground;
	}

	.theme-blue-v2 {
		@apply bg-background text-foreground;
	}

	.theme-dark-blue-v2 {
		@apply bg-background text-foreground;
	}
}
