@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Unica77';
	src: url('../../shared/assets/fonts/Unica77LLWeb-Regular.woff2') format('woff2');
	font-weight: normal;
}

@font-face {
	font-family: 'Unica77';
	src: url('../../shared/assets/fonts/Unica77LLWeb-Medium.woff2') format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'Unica77';
	src: url('../../shared/assets/fonts/Unica77LLWeb-Bold.woff2') format('woff2');
	font-weight: 700;
}

@layer base {
	:root,
	.theme-default {
		--background: 50 33% 96%;
		--foreground: 206 99% 31%;

		--muted: 222 100% 98%;
		--muted-foreground: 212 59% 40%;

		--card: 50 33% 95%;
		--card-foreground: 206 99% 31%;
		--card-muted: 0 0% 98%;
		--card-foreground-muted: 0 0% 40%;

		--popover: 0 100% 100%;
		--popover-muted: 0 0% 98%;
		--popover-foreground: 0 0% 35%;
		--popover-foreground-muted: 0 0% 45%;

		--primary: 212 57% 47%;
		--primary-muted: 216 54% 63%;
		--primary-foreground: 216 54% 100%;
		--primary-foreground-muted: 216 54% 97%;

		--secondary: 8 89% 62%;
		--secondary-muted: 8 89% 70%;
		--secondary-foreground: 8 89% 100%;
		--secondary-foreground-muted: 8 89% 97%;

		--accent: 48 100% 49%;
		--accent-muted: 48 100% 57%;
		--accent-foreground: 48 100% 0%;
		--accent-foreground-muted: 48 100% 30%;

		--destructive: 0 75% 42%;
		--destructive-muted: 0 73% 65%;
		--destructive-foreground: 60 9.1% 97.8%;
		--destructive-foreground-muted: 0 100% 98%;

		--border: 20 5.9% 80%;
		--input: 20 5.9% 90%;
		--ring: 216 54% 55%;
		--radius: 0.5rem;
	}

	.theme-blue {
		--background: 212 57% 47%;
		--foreground: 50 33% 96%;

		--muted: 212 59% 75%;
		--muted-foreground: 50 33% 99%;

		--card: 212 57% 47%;
		--card-muted: 212 57% 75%;
		--card-foreground: 50 33% 96%;
		--card-foreground-muted: 0 0% 40%;

		--primary: 48 100% 49%;
		--primary-muted: 48 100% 85%;
		--primary-foreground: 48 100% 0%;
		--primary-foreground-muted: 48 100% 30%;

		--border: 60 9.1% 97.8%;
	}

	.theme-portal {
		--background: 0 0% 100%;
		--foreground: 0 0% 4%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 4%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 4%;
		--primary: 168 84% 78%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96%;
		--secondary-foreground: 0 0% 9%;
		--muted: 0 0% 96%;
		--muted-foreground: 0 0% 45%;
		--accent: 0 0% 96%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 72% 51%;
		--destructive-foreground: 0 86% 97%;
		--border: 0 0% 90%;
		--input: 0 0% 90%;
		--ring: 0 0% 64%;
		--radius: 0.625rem;
		--chart-1: 21 90% 48%;
		--chart-2: 160 16% 66%;
		--chart-3: 196 64% 24%;
		--chart-4: 43 96% 56%;
		--chart-5: 38 92% 50%;
		--sidebar-foreground: 0 0% 4%;
		--sidebar-background: 0 0% 98%;
		--sidebar-primary: 0 0% 9%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 0 0% 96%;
		--sidebar-accent-foreground: 0 0% 9%;
		--sidebar-border: 0 0% 90%;
		--sidebar-ring: 0 0% 64%;
		--gradient-button-from: 201 90% 27%;
		--gradient-button-to: 160 16% 66%;
		--gradient-background-from: 40 84% 95%;
		--gradient-background-to: 203 42% 93%;
	}
}

@layer base {
	body,
	.theme-default,
	.theme-light {
		@apply bg-background text-foreground;
	}
	.theme-blue {
		@apply bg-background text-foreground;
	}
}
