@import 'tailwindcss';
@import './tokens.css';
@import './theme.css';

@custom-variant dark (&:where(.dark, .dark *));

@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';

@theme inline {
	--stroke-width-3: 3px;
	--stroke-width-4: 4px;
}

@layer base {
	body {
		font-feature-settings: 'ss04' on;
	}

	.prose,
	.prose h1 {
		color: hsl(var(--foreground));
	}
	.prose {
		--tw-prose-headings: hsl(var(--foreground));
		--tw-prose-quotes: hsl(var(--accent));
		--tw-prose-links: hsl(var(--foreground));
	}
}
