@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--so-blue-alpha-10: rgba(57, 128, 208, 0.1);
	--so-blue-alpha-35: rgba(57, 128, 208, 0.35);
	--so-blue-500: #3980d0;

	--so-color-accent-1-primary-500: yellow;
	--so-color-accent-2-primary-500: var(--so-blue-500);
	--so-color-accent-2-primary-alpha: var(-so-blue-alpha-35);
	--so-color-accent-2-secondary-500: white;
	--so-color-accent-2-primary-100: var(--so-blue-alpha-10);
	--so-color-accent-2-secondary-100: var(--so-blue-500);
}

@layer base {
	@font-face {
		font-family: 'SoSans';
		font-weight: normal;
		src: url('../../shared/assets/fonts/Unica77LLSub-Regular.woff2') format('woff2');
	}

	@font-face {
		font-family: 'SoSans';
		font-weight: 500;
		src: url('../../shared/assets/fonts/Unica77LLSub-Medium.woff2') format('woff2');
	}

	@font-face {
		font-family: 'SoSans';
		font-weight: 700;
		src: url('../../shared/assets/fonts/Unica77LLWeb-Bold.woff2') format('woff2');
	}

	html {
		font-family: 'SoSans', system-ui, sans-serif;
	}
}

*:focus-visible {
	outline: 2px solid var(--focus-ring-color, var(--so-color-accent-2-primary-500));
	outline-offset: 2px;
}

*:focus:not(:focus-visible) {
	outline: 0;
}

*:focus-visible {
	outline: 2px solid var(--focus-ring-color, var(--so-color-accent-2-primary-500));
	outline-offset: 2px;
}
