@theme inline {
	--font-sans: 'Unica77', ui-sans-serif, system-ui, sans-serif;

	--color-border: hsl(var(--border));
	--color-input: hsl(var(--input));
	--color-ring: hsl(var(--ring));
	--color-background: hsl(var(--background));
	--color-foreground: hsl(var(--foreground));
	--color-muted: hsl(var(--muted));
	--color-muted-foreground: hsl(var(--muted-foreground));
	--color-primary: hsl(var(--primary));
	--color-primary-muted: hsl(var(--primary-muted));
	--color-primary-foreground: hsl(var(--primary-foreground));
	--color-primary-foreground-muted: hsl(var(--primary-foreground-muted));
	--color-secondary: hsl(var(--secondary));
	--color-secondary-muted: hsl(var(--secondary-muted));
	--color-secondary-foreground: hsl(var(--secondary-foreground));
	--color-secondary-foreground-muted: hsl(var(--secondary-foreground-muted));
	--color-destructive: hsl(var(--destructive));
	--color-destructive-muted: hsl(var(--destructive-muted));
	--color-destructive-foreground: hsl(var(--destructive-foreground));
	--color-destructive-foreground-muted: hsl(var(--destructive-foreground-muted));
	--color-accent: hsl(var(--accent));
	--color-accent-muted: hsl(var(--accent-muted));
	--color-accent-foreground: hsl(var(--accent-foreground));
	--color-accent-foreground-muted: hsl(var(--accent-foreground-muted));
	--color-popover: hsl(var(--popover));
	--color-popover-muted: hsl(var(--popover-muted));
	--color-popover-foreground: hsl(var(--popover-foreground));
	--color-popover-foreground-muted: hsl(var(--popover-foreground-muted));
	--color-card: hsl(var(--card));
	--color-card-muted: hsl(var(--card-muted));
	--color-card-foreground: hsl(var(--card-foreground));
	--color-card-foreground-muted: hsl(var(--card-foreground-muted));

	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--spacing-content: 1400px;
	--spacing-site-width: 92vw;

	--breakpoint-lg: 64rem;
	--breakpoint-2xl: 87.5rem;

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}
