name: "Initialize Repository"
description: "Set up Node.js, plus installs firebase-tools and dependencies"

inputs:
  installDependencies:
    description: "If dependencies will be installed or not"
    required: false
    default: "true"

runs:
  using: "composite"
  steps:
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: "npm"

    - name: Install and set up firebase-tools
      shell: bash
      run: |
        npm -g install firebase-tools@11.29.1 && \
        firebase setup:emulators:firestore && \
        firebase setup:emulators:storage && \
        firebase setup:emulators:ui

    - name: Install dependencies
      if: ${{ inputs.installDependencies }} == "true"
      shell: bash
      run: npm install
