name: Initialize Repository
description: Set up Node.js, plus installs firebase-tools and dependencies

inputs:
  installFirebaseTools:
    description: If firebase-tools will be installed or not
    default: "false"
  installDependencies:
    description: If dependencies will be installed or not
    default: "true"
  firebaseServiceAccountJSON:
    description: The credentials JSON value of the Firebase service account
    required: "false"

runs:
  using: composite
  steps:
    - name: Import OpenJDK GPG key
      shell: bash
      run: |
        gpg --keyserver keyserver.ubuntu.com --recv-keys 5BE8A3F6C8A5C01D106C0AD820B1A390B168D356

    - name: Setup Node.js
      uses: jdx/mise-action@c37c93293d6b742fc901e1406b8f764f6fb19dac # v2
      with:
        version: 2025.6.0
        install: ${{ inputs.installDependencies == 'true' }}
        cache: true

    - name: Install and set up vercel & firebase-tools
      if: ${{ inputs.installFirebaseTools == 'true' }}
      shell: bash
      run: |
        npm -g install firebase-tools@14.4.0 && \
        firebase setup:emulators:firestore && \
        firebase setup:emulators:storage && \
        firebase setup:emulators:ui

    - name: Install dependencies
      if: ${{ inputs.installDependencies == 'true' }}
      shell: bash
      run: npm ci

    - name: Create credentials JSON file
      if: inputs.firebaseServiceAccountJSON
      uses: jsdaniell/create-json@6c509494d7b009b842fb0a158852ba244920bc38 # v1.2.2
      with:
        name: credentials.json
        json: ${{ inputs.firebaseServiceAccountJSON }}
