@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--h-navbar: 4.5rem;
	--h-navbar-mobile: 6rem;
}

.h-navbar {
	height: var(--h-navbar-mobile);

	@media screen(md) {
		height: var(--h-navbar);
	}
}

.min-h-navbar {
	min-height: var(--h-navbar-mobile);
	@media screen(md) {
		min-height: var(--h-navbar);
	}
}

.min-h-screen-navbar {
	min-height: calc(100dvh - 4rem);
	@media screen(md) {
		min-height: calc(100dvh - 5rem);
	}
}
