name: app
description: Social Income App

publish_to: "none"
version: 1.1.17+1 # The build number is set in Codemagic automatically.

environment:
  sdk: ">=3.8.0 <4.0.0"
  flutter: 3.35.5

dependencies:
  animations: ^2.0.11
  another_flushbar: ^1.12.31
  cloud_functions: ^6.0.1
  collection: ^1.19.1
  dart_mappable: ^4.6.0
  firebase_analytics: ^12.0.2 # Is required to use Firebase Remote Config.
  firebase_app_check: ^0.4.0+1
  firebase_auth: ^6.0.2
  firebase_core: ^4.1.0
  firebase_messaging: ^16.0.1
  firebase_remote_config: ^6.0.2
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.1
  flutter_localizations:
    sdk: flutter
  flutter_native_splash: ^2.4.6
  force_update_helper: ^0.2.1
  http: ^1.6.0
  intl: ^0.20.2
  # v0.8.0 is not publish on pub.dev but it is released on Github. This version fixes the build error on iOS with the message "Cannot find type 'PhoneNumberKit' in scope".
  intl_phone_number_input:
    git:
      url: https://github.com/natintosh/intl_phone_number_input.git
      ref: v0.8.0
  package_info_plus: ^8.3.1
  # https://github.com/chrisedg87/flutter_rounded_loading_button/pull/74
  rounded_loading_button:
    git:
      url: https://github.com/ShamilPP/flutter_rounded_loading_button.git
      ref: master
  sentry_flutter: ^9.6.0
  twilio_flutter: ^0.9.0
  url_launcher: ^6.3.2
  webview_flutter: ^4.13.0

dev_dependencies:
  alchemist: ^0.12.1
  bloc_test: ^10.0.0
  build_runner: ^2.6.0
  dart_mappable_builder: ^4.6.0

  flutter_test:
    sdk: flutter
  lint: ^2.8.0
  mocktail: ^1.0.4

flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/
    - assets/fonts/

  fonts:
    - family: Unica77LL
      fonts:
        - asset: assets/fonts/Unica77LL-Regular.otf
        - asset: assets/fonts/Unica77LL-Medium.otf
          weight: 500
        - asset: assets/fonts/Unica77LL-Bold.otf
          weight: 700

flutter_native_splash:
  # This package generates native code to customize Flutter's default white native splash screen,
  # also let us to keep splash screen longer on the screen.
  # See flutter_native_splash documentation for more info

  color: "#EDF3FF"
  image: assets/splash.png

  android_12:
    image: assets/splashAndroid12.png
    color: "#EDF3FF"
