name: app
description: Social Income App

publish_to: "none"
version: 1.1.11+27

environment:
  sdk: ">=3.2.0 <4.0.0"

dependencies:
  animations: ^2.0.8
  another_flushbar: ^1.12.30
  cloud_firestore: ^4.13.3
  collection: ^1.17.1
  equatable: ^2.0.5
  firebase_app_check: ^0.2.1+6
  firebase_auth: ^4.15.0
  firebase_core: ^2.24.0
  firebase_crashlytics: ^3.4.6
  firebase_messaging: ^14.7.6
  flutter:
    sdk: flutter
  flutter_bloc: ^8.1.3
  flutter_localizations:
    sdk: flutter
  flutter_native_splash: ^2.3.6

  intl: ^0.18.0
  intl_phone_number_input: ^0.7.4
  json_annotation: ^4.8.1
  json_serializable: ^6.7.1
  package_info_plus: ^5.0.1
  rounded_loading_button: ^2.1.0
  url_launcher: ^6.2.1
  webview_flutter: ^4.4.2

dev_dependencies:
  alchemist: ^0.7.0
  bloc_test: ^9.1.5
  build_runner: ^2.4.7

  flutter_test:
    sdk: flutter
  lint: ^2.2.0
  mocktail: ^1.0.1

flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/
    - assets/fonts/

  fonts:
    - family: Unica77LL
      fonts:
        - asset: assets/fonts/Unica77LL-Regular.otf
        - asset: assets/fonts/Unica77LL-Medium.otf
          weight: 500
        - asset: assets/fonts/Unica77LL-Bold.otf
          weight: 700

flutter_native_splash:
  # This package generates native code to customize Flutter's default white native splash screen,
  # also let us to keep splash screen longer on the screen.
  # See flutter_native_splash documentation for more info

  color: "#EDF3FF"
  image: assets/splash.png

  android_12:
    image: assets/splashAndroid12.png
    color: "#EDF3FF"
