name: app
description: Social Income App

publish_to: "none"
version: 1.2.0+1 # The build number is set in Codemagic automatically.

environment:
  sdk: ^3.8.1
  flutter: 3.38.4

dependencies:
  animations: ^2.1.1
  another_flushbar: ^1.12.32
  cloud_functions: ^6.0.5
  collection: ^1.19.1
  dart_mappable: ^4.6.1
  firebase_analytics: ^12.1.0 # Is required to use Firebase Remote Config.
  firebase_app_check: ^0.4.1+3
  firebase_auth: ^6.1.3
  firebase_core: ^4.3.0
  firebase_messaging: ^16.1.0
  firebase_remote_config: ^6.1.3
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.1
  flutter_localizations:
    sdk: flutter
  flutter_native_splash: ^2.4.7
  force_update_helper: ^0.3.0
  http: ^1.6.0
  intl: ^0.20.2
  # v0.8.0 is not publish on pub.dev but it is released on Github. This version fixes the build error on iOS with the message "Cannot find type 'PhoneNumberKit' in scope".
  intl_phone_number_input:
    git:
      url: https://github.com/natintosh/intl_phone_number_input.git
      ref: v0.8.0
  package_info_plus: ^9.0.0
  sentry_flutter: ^9.8.0
  url_launcher: ^6.3.2
  webview_flutter: ^4.13.0

dev_dependencies:
  alchemist: ^0.13.0
  bloc_test: ^10.0.0
  build_runner: ^2.6.0
  dart_mappable_builder: ^4.6.0

  flutter_test:
    sdk: flutter
  lint: ^2.8.0
  mocktail: ^1.0.4

flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/
    - assets/fonts/

  fonts:
    - family: Unica77LL
      fonts:
        - asset: assets/fonts/Unica77LL-Regular.otf
        - asset: assets/fonts/Unica77LL-Medium.otf
          weight: 500
        - asset: assets/fonts/Unica77LL-Bold.otf
          weight: 700
# flutter_native_splash:
#   2.4.7
#   # also let us to keep splash screen longer on the screen.
#   # See flutter_native_splash documentation for more info

#   color: "#EDF3FF"
#   image: assets/splash.png

#   android_12:
#     image: assets/splashAndroid12.png
#     color: "#EDF3FF"
