name: app
description: Social Income App

publish_to: "none"
version: 1.1.5+17

environment:
  sdk: ">=2.18.5 <3.0.0"

dependencies:
  animations: ^2.0.7
  cloud_firestore: ^4.5.0
  collection: ^1.16.0
  equatable: ^2.0.5
  firebase_auth: ^4.4.0
  firebase_core: ^2.9.0
  firebase_crashlytics: ^3.1.0
  flutter:
    sdk: flutter
  flutter_bloc: ^8.1.2
  intl: ^0.17.0
  intl_phone_number_input: ^0.7.3+1
  rounded_loading_button: ^2.1.0
  url_launcher: ^6.1.10
  # TODO migrate to 4.0.x
  webview_flutter: ^3.0.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  lint: ^2.0.1

flutter:
  uses-material-design: true

  assets:
    - assets/
    - assets/fonts/

  fonts:
    - family: Unica77LL
      fonts:
        - asset: assets/fonts/Unica77LL-Regular.otf
        - asset: assets/fonts/Unica77LL-Medium.otf
          weight: 500
        - asset: assets/fonts/Unica77LL-Bold.otf
          weight: 700
