# Compiled JavaScript files
dist/
social-income-prod-firebase-adminsdk.json

# playwright
/test-results/
/playwright-report/
/playwright/.cache/
tests/playwright/sessionStorage.json
tests/playwright/**/*darwin.png