@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 4%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 4%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 4%;
		--primary: 168 84% 78%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96%;
		--secondary-foreground: 0 0% 9%;
		--muted: 0 0% 96%;
		--muted-foreground: 0 0% 45%;
		--accent: 0 0% 96%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 72% 51%;
		--destructive-foreground: 0 86% 97%;
		--border: 0 0% 90%;
		--input: 0 0% 90%;
		--ring: 0 0% 64%;
		--radius: 0.625rem;
		--chart-1: 21 90% 48%;
		--chart-2: 160 16% 66%;
		--chart-3: 196 64% 24%;
		--chart-4: 43 96% 56%;
		--chart-5: 38 92% 50%;
		--sidebar-foreground: 0 0% 4%;
		--sidebar-background: 0 0% 98%;
		--sidebar-primary: 0 0% 9%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 0 0% 96%;
		--sidebar-accent-foreground: 0 0% 9%;
		--sidebar-border: 0 0% 90%;
		--sidebar-ring: 0 0% 64%;
		--gradient-button-from: 201 90% 27%;
		--gradient-button-to: 160 16% 66%;
	}

	.dark {
		--background: 0 0% 4%;
		--foreground: 0 0% 98%;
		--card: 0 0% 9%;
		--card-foreground: 0 0% 98%;
		--popover: 0 0% 15%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 90%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 15%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 15%;
		--muted-foreground: 0 0% 64%;
		--accent: 0 0% 25%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 91% 71%;
		--destructive-foreground: 0 86% 97%;
		--border: 0 0% 100%;
		--input: 0 0% 100%;
		--ring: 0 0% 45%;
		--radius: 0.625rem;
		--chart-1: 224 76% 48%;
		--chart-2: 160 84% 39%;
		--chart-3: 38 92% 50%;
		--chart-4: 271 91% 65%;
		--chart-5: 350 89% 60%;
		--sidebar-background: 0 0% 9%;
		--sidebar-foreground: 0 0% 98%;
		--sidebar-primary: 224 76% 48%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 0 0% 15%;
		--sidebar-accent-foreground: 0 0% 98%;
		--sidebar-border: 0 0% 100%;
		--sidebar-ring: 0 0% 32%;
		--gradient-button-from: 201 90% 27%;
		--gradient-button-to: 160 16% 66%;
	}
}

@layer base {
  * {
    @apply border-border;
	}
  body {
    @apply bg-background text-foreground;
	}
}
