<tr>
	<td align="center" bgcolor="#f9f8f3" style="padding: 30px 10px 10px 10px">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px">
			<tr>
				<td
					bgcolor="#FAC800"
					style="
						background-color: #f0e08c;
						padding: 20px 20px 20px 20px;
						border-radius: 10px;
						font-family: 'Unica77', Helvetica, Arial, sans-serif;
						font-size: 32px;
						line-height: 32px;
						text-align: left;
					"
				>
					<p
						class="feature"
						style="
							margin: 0px 0px 20px 0px;
							font-family: 'Unica77', Helvetica, Arial, sans-serif;
							font-weight: 500;
							font-size: 24px;
							line-height: 32px;
							color: #59481c;
						"
					>
						Internal Staff News for {{ insert first_name 'default=Volunteers' }}
					</p>
					<p
						class="feature"
						style="
							margin: 0;
							font-family: 'Unica77', Helvetica, Arial, sans-serif;
							font-weight: 400;
							font-size: 18px;
							line-height: 30px;
							color: #59481c;
						"
					>
						818 people donated $17,158 in
						<a
							style="color: #111111; text-decoration: none"
							href="https://socialincome.org/campaign/MZmXEVHlDjOOFOMk82jW"
							target="_blank"
							rel="noopener noreferrer"
						>
							<span style="color: #59481c; text-decoration: underline; margin: 0px 0px 0px 0px"
								>Ismatu's campaign</span
							></a
						>. When we reach 20k, we start paying out.
					</p>
					<p
						class="feature"
						style="
							margin: 0;
							font-family: 'Unica77', Helvetica, Arial, sans-serif;
							font-weight: 400;
							font-size: 18px;
							line-height: 30px;
							color: #59481c;
						"
					>
						—
					</p>
					<p
						class="feature"
						style="
							margin: 0;
							font-family: 'Unica77', Helvetica, Arial, sans-serif;
							font-weight: 400;
							font-size: 18px;
							line-height: 30px;
							color: #59481c;
						"
					>
						Where are we with fundraising?
						<a
							style="color: #111111; text-decoration: none"
							href="https://docs.google.com/document/d/1THijBanUOuLa5qO_kp0L1OJY66a_-Qh_JtUm5FbtWJU/edit?usp=sharing"
							target="_blank"
							rel="noopener noreferrer"
						>
							<span style="color: #59481c; text-decoration: underline; margin: 0px 8px 0px 0px"
								>Overview document</span
							></a
						>
					</p>
					<p
						class="feature"
						style="
							margin: 0;
							font-family: 'Unica77', Helvetica, Arial, sans-serif;
							font-weight: 400;
							font-size: 18px;
							line-height: 30px;
							color: #59481c;
						"
					>
						—
					</p>
					<p
						class="feature"
						style="
							margin: 0;
							font-family: 'Unica77', Helvetica, Arial, sans-serif;
							font-weight: 400;
							font-size: 18px;
							line-height: 30px;
							color: #59481c;
						"
					>
						We had 6,245 people visiting our website in the last 30 days.
					</p>
					<p
						class="feature"
						style="
							margin: 0;
							font-family: 'Unica77', Helvetica, Arial, sans-serif;
							font-weight: 400;
							font-size: 18px;
							line-height: 30px;
							color: #59481c;
						"
					>
						—
					</p>
					<p
						class="feature"
						style="
							margin: 0;
							font-family: 'Unica77', Helvetica, Arial, sans-serif;
							font-weight: 400;
							font-size: 18px;
							line-height: 30px;
							color: #59481c;
						"
					>
						Michael updated our
						<a
							style="color: #111111; text-decoration: none"
							href="https://socialincome.org/en/ch/transparency/finances/usd"
							target="_blank"
							rel="noopener noreferrer"
						>
							<span style="color: #59481c; text-decoration: underline">transparency site</span></a
						>
						for more accuracy. Meanwhile, Pranav is finishing the landing page for the upcoming redesign. Thx.
					</p>
					<p
						class="feature"
						style="
							margin: 0;
							font-family: 'Unica77', Helvetica, Arial, sans-serif;
							font-weight: 400;
							font-size: 18px;
							line-height: 30px;
							color: #59481c;
						"
					>
						—
					</p>
					<p
						class="feature"
						style="
							margin: 0;
							font-family: 'Unica77', Helvetica, Arial, sans-serif;
							font-weight: 400;
							font-size: 18px;
							line-height: 30px;
							color: #59481c;
						"
					>
						Congrats Mabel for receiving the
						<a
							style="color: #111111; text-decoration: none"
							href="https://socialincome.org/campaign/MZmXEVHlDjOOFOMk82jW"
							target="_blank"
							rel="noopener noreferrer"
						>
							<span style="color: #59481c; text-decoration: underline">Mandela Washington Fellowship</span></a
						>. It comes with a 6-week trip to the US.
					</p>
					<p
						class="feature"
						style="
							margin: 0;
							font-family: 'Unica77', Helvetica, Arial, sans-serif;
							font-weight: 400;
							font-size: 18px;
							line-height: 30px;
							color: #59481c;
						"
					>
						—
					</p>
					<p
						class="feature"
						style="
							margin: 0;
							font-family: 'Unica77', Helvetica, Arial, sans-serif;
							font-weight: 400;
							font-size: 18px;
							line-height: 30px;
							color: #59481c;
						"
					>
						Mariatu started the MOOC:
						<a
							style="color: #111111; text-decoration: none"
							href="https://socialincome.org/campaign/MZmXEVHlDjOOFOMk82jW"
							target="_blank"
							rel="noopener noreferrer"
						>
							<span style="color: #59481c; text-decoration: underline">Global Challenges, Local Communities</span></a
						>. Good luck
					</p>
					<p
						class="feature"
						style="
							margin: 0;
							font-family: 'Unica77', Helvetica, Arial, sans-serif;
							font-weight: 400;
							font-size: 18px;
							line-height: 30px;
							color: #59481c;
						"
					>
						—
					</p>
					<p
						class="feature"
						style="
							margin: 0;
							font-family: 'Unica77', Helvetica, Arial, sans-serif;
							font-weight: 400;
							font-size: 18px;
							line-height: 30px;
							color: #59481c;
						"
					>
						Dates for Finance Meetings: Q2 on July 5, Q3 on September 30, and Q4 on January 6. Invitations will follow.
					</p>
					<p
						style="
							margin: 0;
							font-family: 'Unica77', Helvetica, Arial, sans-serif;
							font-weight: 400;
							font-size: 18px;
							line-height: 30px;
							color: #59481c;
						"
					>
						—
					</p>
					<p
						class="feature"
						style="
							margin: 0;
							font-family: 'Unica77', Helvetica, Arial, sans-serif;
							font-weight: 400;
							font-size: 18px;
							line-height: 30px;
							color: #59481c;
						"
					>
						Remember there is no townhall on Saturday (due to holidays)
					</p>
				</td>
			</tr>
		</table>
	</td>
</tr>
