name: Admin

on:
  pull_request:
    paths-ignore:
      - 'recipients_app/**'
  push:
    branches:
      - main
    paths-ignore:
      - 'recipients_app/**'

jobs:
  check_applicability:
    name: Check applicability
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          paths: '["admin/**", "shared/**", ".github/workflows/admin.yml"]'
          skip_after_successful_duplicate: "false"
          do_not_skip: '["push"]'

  test:
    name: Test admin
    needs: check_applicability
    if: needs.check_applicability.outputs.should_skip != 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Initialize repository
        uses: ./.github/workflows/actions/init

      - name: Run tests
        run: npm run admin:test

      # TODO: re-enable
      #      - name: Run Playwright tests
      #        run: npm run admin:test:playwright
      #
      #      - name: Deploy Playwright Report to GitHub Pages
      #        uses: rossjrw/pr-preview-action@v1
      #        if: always()
      #        with:
      #          source-dir: admin/playwright-report/
      #          preview-branch: gh-pages
      #          umbrella-dir: admin-playwright-report
      #          action: auto

  deploy:
    name: Deploy admin on Firebase (social-income-staging)
    needs: test
    uses: ./.github/workflows/deployment.yml
    secrets: inherit
    with:
      component: admin
      project: social-income-staging
