name: Deployment

on:
  workflow_call:
    inputs:
      component:
        description: The component to deploy (rules)
        type: string
        required: true
      project:
        description: The Firebase project to deploy to (social-income-staging|social-income-prod)
        type: string
        required: true

jobs:
  deploy-rules:
    name: Deploy Firestore and Storage rules on Firebase
    runs-on: ubuntu-latest
    if: inputs.component == 'rules'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Initialize repository
        uses: ./.github/workflows/actions/init
        with:
          installDependencies: "false"
          installFirebaseTools: "true"
          firebaseServiceAccountJSON: ${{ (inputs.project == 'social-income-prod' && secrets.FIREBASE_SERVICE_ACCOUNT_SOCIAL_INCOME_PROD) || secrets.FIREBASE_SERVICE_ACCOUNT_SOCIAL_INCOME_STAGING }}

      - name: Deploy on Firebase (${{ inputs.project }})
        run: |
          GOOGLE_APPLICATION_CREDENTIALS=credentials.json firebase deploy --only storage --project ${{ inputs.project }}
