name: Functions
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check_applicability:
    name: Check applicability
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          paths: '["functions/**", "shared/**", ".github/workflows/functions.yml"]'
          skip_after_successful_duplicate: "false"

  test_deploy:
    name: Test and deploy functions
    needs: check_applicability
    if: needs.check_applicability.outputs.should_skip != 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Initialize repository
        uses: ./.github/workflows/actions/init

      - name: Add test secrets to functions/.env file
        working-directory: functions
        run: |
          echo TWILIO_SID=${{ secrets.TWILIO_TEST_SID }} > .env
          echo TWILIO_TOKEN=${{ secrets.TWILIO_TEST_TOKEN }} >> .env
          echo TWILIO_SENDER_PHONE=${{ secrets.TWILIO_TEST_SENDER_PHONE }} >> .env

      - name: Run tests
        run: npm run functions:test

      - name: Run Playwright tests
        run: npm run functions:test:playwright

      - name: Deploy Playwright Report to GitHub Pages
        uses: rossjrw/pr-preview-action@v1
        if: always()
        with:
          source-dir: functions/playwright-report/
          preview-branch: gh-pages
          umbrella-dir: functions-playwright-report
          action: auto

      - name: Deploy functions to social-income-staging Firebase Project
        if: github.ref == 'refs/heads/main'
        uses: ./.github/workflows/actions/deploy
        with:
          component: functions
          project: social-income-staging
