name: Prettify Code
on: pull_request

jobs:
  prettify:
    name: Prettify
    runs-on: ubuntu-latest
    # This action only works on the original repository, not on forks
    if: "${{ github.event.pull_request.head.repo.full_name == github.repository }}"
    steps:
      - name: Checkout repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          # Make sure the actual branch is checked out when running on pull requests, required for prettify
          ref: ${{ github.head_ref }}
          # Make sure the value of GITHUB_TOKEN will not be persisted in repo's config
          persist-credentials: false

      - name: Initialize repository
        uses: ./.github/workflows/actions/init
        with:
          installDependencies: "false"

      - name: Install Prettier
        run: npm install --no-save prettier@3.4.2 prettier-plugin-organize-imports@4.1.0 prettier-plugin-tailwindcss@0.6.9

      - name: Prettify code
        uses: creyD/prettier_action@8c18391fdc98ed0d884c6345f03975edac71b8f0 # v4.6
        with:
          prettier_version: 3.4.2
          prettier_plugins: prettier-plugin-organize-imports@4.1.0 prettier-plugin-tailwindcss@0.6.9
          prettier_options: --write ./
          github_token: ${{ secrets.WORKFLOW_TOKEN }}
