name: Deploy production environment
on:
  push:
    tags:
      - release-*
jobs:
  deploy-rules:
    name: Deploy rules to social-income-prod Firebase Project
    uses: ./.github/workflows/deployment.yml
    secrets: inherit
    with:
      component: rules
      project: social-income-prod
