name: Rules (firestore & storage)
on:
  push:
    branches:
      - main

jobs:
  check_applicability:
    name: Check Applicability
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          paths: '["firestore.rules", "storage.rules", ".github/workflows/rules.yml"]'

  deploy:
    name: Deploy Firestore Rules
    needs: check_applicability
    if: needs.check_applicability.outputs.should_skip != 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "npm"

      - name: Install firebase-tools
        run: npm -g install firebase-tools@11.29.1

      - name: Create service account key
        if: github.ref == 'refs/heads/main'
        run: echo "${{ secrets.FIREBASE_SERVICE_ACCOUNT_SOCIAL_INCOME_STAGING }}" > secret.json

      - name: Deploy social-income-staging Firebase Project
        if: github.ref == 'refs/heads/main'
        run: GOOGLE_APPLICATION_CREDENTIALS=secret.json firebase deploy --only firestore:rules --project social-income-staging
