name: Shared
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check_applicability:
    name: Check applicability
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          paths: '["shared/**", ".github/workflows/shared.yml"]'
          skip_after_successful_duplicate: "false"
          do_not_skip: '["push"]'

  test:
    name: Test shared code
    needs: check_applicability
    if: needs.check_applicability.outputs.should_skip != 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Initialize repository
        uses: ./.github/workflows/actions/init

      - name: Run tests
        env: {}
        run: npm run shared:test
